body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FCFCFC;
}

h1 { font-size: 2.1rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
}

header,
footer {
  margin: 4rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
}

.container {
  width: 90%;
  max-width: 600px;
}

.header-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-size: 3.3rem;
}

.entry-title {
  margin-bottom: 0;
}

.single-title {
  margin-bottom: 0;
  font-size: 2.7rem;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

.footer {
  margin: 1rem 0;
}

.pages-links {
  font-size: 2rem;
  margin: 2% 0 0 0;
}

.footer-link {
  margin: 1.2% 0 0 0;
  color: #888    
}



/*--------------------------------------------------------------
Social Links from the Decode theme by MachoThemes
--------------------------------------------------------------*/
.contact-links {
	display: block;
	margin: 3% 0 0 0;
}

.contact-links-container {
	text-align: center;
	margin: 0 auto;
}

.contact-link {
	transition: opacity 0.4s ease-out;
	border: none;
	margin: 0 1%;
	.no-touch &:hover {
		opacity: 0.6;
	}
	.no-touch &:active {
		opacity: 0.8;
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	svg,
	img {
		overflow: visible;
		width: 2.25em;
		height: 2.25em;
	}
	.no-inlinesvg & svg {
		display: none;
	}
	.no-inlinesvg & {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 0.5%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50px;
	}
}

/* Fallback Images for browsers that don't support Inline SVG */
.no-inlinesvg {
	.TwitterLink {
		background-image: url('images/contact-icons/Twitter.png');
	}
	.GithubLink {
		background-image: url('images/contact-icons/GitHub.png');
	}
	.BitbucketLink {
		background-image: url('images/contact-icons/Bitbucket.png');
	}
  	.LinkedInLink {
		background-image: url('images/contact-icons/LinkedIn.png');
	}
	.SlideShareLink {
		background-image: url('images/contact-icons/SlideShare.png');
	}
	.SkypeLink {
		background-image: url('images/contact-icons/Skype.png');
	}
   	.StackOverflowLink {
		background-image: url('images/contact-icons/StackOverflow.png');
	}
	.RSSLink {
		background-image: url('images/contact-icons/RSS.png');
	}
	.EmailLink {
		background-image: url('images/contact-icons/Email.png');
	}
	.WebsiteLink {
		background-image: url('images/contact-icons/Website.png');
	}
}

