{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="single-title" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 January 2006" }}</time>,  ~{{ .ReadingTime }} minute to read</span>
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
            {{ if eq .Type "post" }}
            <div class="entry-taxonomies">
              <strong>Categories</strong>: {{ range $index, $category := .Params.categories }}{{ if $index }} // {{ end }}<a href="/categories/{{ $category | urlize }}">{{ $category }}</a>{{ end }}<br>
              <strong>Tags</strong>: {{ range $index, $tag := .Params.tags }}{{ if $index }} // {{ end }}<a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}
            </div>
            {{ end }}
		</article>
	</main>

{{ partial "footer.html" . }}
