{{ partial "header.html" . }}

    <main role="main">
	  <h1 class="entry-title" itemprop="headline">...aaand that's a broken link!</h1>
      <span class="entry-meta"></span>
		<section itemprop="entry-text">
          <p>Technically it's called an <strong>HTTP Error 404</strong>.</p>
          <p>The link you used does not point to anything. Please check it for any typing errors. Check the <a href="/sitemap/">website's sitemap</a> to find the right page.</p>
          <p>If you think I have misplaced it, be a kind person and <a href="{{ .Site.BaseURL }}contact/">contact me</a> so I'll fix it. Thanks!</p>
        </section>
    </main>

{{ partial "footer.html" . }}
