{{ partial "header.html" . }}

	<main role="main">
{{ range (where .Data.Pages ".Params.hidefromhome" "!=" "true") }}
		<article itemscope itemtype="https://schema.org/Blog">
			<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
			<div class="entry-meta">
              <div class="home-entry-time">
                <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 January 2006"  }}</time></div>
              {{ if eq .Type "post" }}
              <div class="home-entry-categories">
                Posted in: {{ range $index, $category := .Params.categories }}{{ if $index }} // {{ end }}<a href="/categories/{{ $category | urlize }}">{{ $category }}</a>{{ end }}</div>
              {{ end }}
              <div class="home-entry-description" itemprop="description">About: <span class="home-entry-description-text">{{ trim .Description "." }}.</span></div>
            </div>
		</article>
{{ end }}
	</main>

{{ partial "footer.html" . }}
