# MATJAZ.IT .HTACCESS FILE
# =============================================================================

## Domain redirection from gustin.it to matjaz.it
## --------------------------------------------------------
RewriteCond %{HTTP_HOST} ^gustin\.it$ [OR]
RewriteCond %{HTTP_HOST} ^www\.gustin\.it$
RewriteRule ^/?$ "http\:\/\/matjaz\.it" [R=301,L]


## Set HTTP headers for Charset and Content language
## --------------------------------------------------------
AddDefaultCharset UTF-8
DefaultLanguage en-US


## Add WOFF2 MIME type
## https://gist.github.com/sergejmueller/cf6b4f2133bcb3e2f64a
## --------------------------------------------------------
AddType application/font-woff2 .woff2


## Enable compression for common file types
## --------------------------------------------------------
<IfModule mod_deflate.c>
  <IfModule mod_filter.c>
    # Plaintext, HTML, JavaScript, CSS, XML and fonts
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml

    # Remove browser bugs
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
  </IfModule>
</IfModule>
    

## Enable Keep-Alive connections
## --------------------------------------------------------
<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>


## Set browser cache time to live
## --------------------------------------------------------
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access 1 month"
    ExpiresByType text/html "access 1 month"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/svg+xml "access 1 year"
    ExpiresByType image/x-icon "access 1 year"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType application/javascript "access 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType text/x-javascript "access 1 month"
    ExpiresDefault "access 1 month"
</IfModule>


## 404 custom error page
## --------------------------------------------------------
ErrorDocument 404 /404.html


## 301-Redirections of page name aliases instead of HTML meta redirects
## --------------------------------------------------------
# Old RSS feed to new
RedirectMatch 301 (?i)^/feed/?(index.xml)?$ http://matjaz.it/index.xml

# About page
RedirectMatch 301 (?i)^/about-me/?$        http://matjaz.it/about/
RedirectMatch 301 (?i)^/about-this-blog/?$ http://matjaz.it/about/
RedirectMatch 301 (?i)^/info/?$            http://matjaz.it/about/

# Contact page
RedirectMatch 301 (?i)^/gpg/?$             http://matjaz.it/contact/
RedirectMatch 301 (?i)^/pgp/?$             http://matjaz.it/contact/
RedirectMatch 301 (?i)^/contact-me/?$      http://matjaz.it/contact/

# E-mail signature to Keybase profile
RedirectMatch 301 (?i)^/siggpg/?$          https://keybase.io/TheMatjaz

# Legal notice page
RedirectMatch 301 (?i)^/copyright/?$       http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/notice/?$          http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/terms/?$           http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/privacy/?$         http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/policy/?$          http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/legal/?$           http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/tos/?$             http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/license/?$         http://matjaz.it/legal-notice/
RedirectMatch 301 (?i)^/disclaimer/?$      http://matjaz.it/legal-notice/

# Site map for humans
RedirectMatch 301 (?i)^/sitemap.html?      http://matjaz.it/sitemap/

# Software page
RedirectMatch 301 (?i)^/sw/?$              http://matjaz.it/software/
RedirectMatch 301 (?i)^/numerus/?$         http://matjaz.it/software/

# First post
RedirectMatch 301 (?i)^/first/?$           http://matjaz.it/hi-out-there/

