{{/*

Generates a list sorted by date of all content having the same tag, useful to 
have an in-post list of all posts from the same series of posts.

Call it by passing as unnamed parameter the tag name. If 0, 2 or more parameters are provided, it prints nothing. Example:

  {{< series "my series tag" >}}

*/}}

{{ if len .Params | eq 1 }}
  {{ $tag := .Get 0 }}
  <hr/>
  <p>This is post is part of the series <strong><a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a></strong>. Other posts in the series:
  <ol>
  {{ range .Site.Pages.ByDate }}
    {{ if in .Params.tags $tag }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a><span class="gray"> &ndash; <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 January 2006"  }}</time></span></li>
    {{ end }}
  {{ end }}
  </ol>
{{ end }}
